body {
  background-image: url("cielo.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* You can add other background properties as needed */
}
.search {
  font-weight: 300;
  font-size: 40px;
  color: rgb(55, 55, 55);
  text-align: center;
  background-color: rgb(244 225 244 / 82%);
  border-radius: 1rem;
  padding: 2rem;
}
.resetLink {
  color: #05000f;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 20px;
}
.cardContent {
  display: flex;
  padding: 1rem;
  font: times;
  width: auto;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.opciones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 3rem;
  flex-wrap: nowrap;
  align-items: center;
  /* border-left: 1px;
    border-right: 1px; */
  /* border: 1px; */
  border: none;
}

.orden,
.population,
.continent,
.activity {
  margin: 0.2rem; /* Adjust the margin as needed */
  padding: 0.2rem; /* Adjust the padding as needed */
  font-size: 16px; /* Adjust the font size as needed */
  border: 1px solid #ccc; /* Add a border for a cleaner look */
  border-radius: 5px; /* Adjust the border radius as needed */
  background-color: rgb(199, 215, 221); /* Set the background color */
  color: #24086b; /* Set the text color */
  cursor: pointer;
}

.contenedorCards {
  height: auto;
  width: 50rem;
}
.imagenLoading {
  width: 8rem;
  height: 8rem;
}

.loading {
  width: 50%;
  height: 60vh;
  display: flex;
  animation: animar 5s cubic-bezier(0, 0, 1, 1.01) infinite;
  justify-content: center;
  align-items: center;
}

@keyframes animar {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
