.imagen {
  background-image: url("./landing.jpeg");
  height: 100vh;
  width: auto;
  text-align: center;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: stretch;
  filter: brightness(90%);
  background-color: rgba(0, 0, 0, 0.1);
}
.logo {
  width: auto;
  height: 8rem;
  padding: 1.5rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
.contenedor {
  display: block;
  width: 100%;
  height: 0rem;
  padding: 120px;
}
.contenedorLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: aliceblue;
}
.countryLogo {
  display: flex;
  width: 90%;
  height: auto;
  padding: 5rem;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
}
.home {
  display: block;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.button {
  margin: 1rem;
  border: 1px solid;
  border-color: white;
  border: none;
  width: 8rem;
  height: 3rem;
  border-radius: 1rem;
  font-size: larger;
  background-color: white;
  color: rgb(55, 55, 55);
  font-weight: bold;
}

.country {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 5rem;
  color: rgb(182, 222, 19);
  text-shadow: 4px 4px 9px rgba(249, 247, 247, 0.5);
  width: 1000px;
}
.centerText {
  display: flexbox;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 460px) {
  .country {
    font-size: 3rem;
    padding: 5px;
    margin: 0;
    height: 80px;
  }
  .contenedorLogo {
    flex-direction: column;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .countryLogo {
    height: auto;
    padding: 0%;
    align-items: center;
    width: 100%;
  }
  .imagen {
    position: absolute;
    background-position: center center;
    background-attachment: fixed;
  }
  .logo {
    width: auto;
    height: 6rem;
    padding: 0;
  }
  .button {
    margin: none;
    width: 10rem;
  }
}
